@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    background-image: url("https://i.pinimg.com/originals/6b/c8/9c/6bc89c0860a87353268c8b63f61a50d9.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
h1,h2{
    
        text-align: center;
        color:white;
        border:1px solid #fff transparent;
        padding: 50px;
        transition: 0.8s ease;
}
form{
    margin-top:10px;
    margin-bottom: 10px;
    text-align: left;
    color:white;
    

}
input[type=text],[type=password],[type=date],select{
    width: 30%;
    background-color: rgba(255,255,255,0.7);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.8s ease;
}
input[type=submit]{
    width: 10%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    transition: 0.8s ease;
}

input[type=submit]:hover {
    background-color: rgba(255,255,255,0.9);
    color:black;
  }